.mt-100 {
    margin-top: 100px;
}

/* line 486, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_common.scss */
.mt-105 {
    margin-top: 105px;
}

/* line 486, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_common.scss */
.mt-110 {
    margin-top: 110px;
}

/* line 486, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_common.scss */
.mt-115 {
    margin-top: 115px;
}


.bg-about{
    background-image: url("public/img/hero/hero2.jpg");
    background-repeat: no-repeat;
    height:450px;
    margin-left:-10px;
}
.bg-black{
    background-color: black;
    z-index: 1;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    animation-name: animation;
    animation-duration: .5s;
    position:absolute;
}

@keyframes animation {
    from {opacity:0;margin-top:-10px;}
    to {opacity:1;}
}

.myIcon{
    /*color:red;*/
}
.myIcon:hover{
    color:white;
}
.radius-40 {
    border-radius:40px;
    text-align: center;
}
.box:hover{
    cursor:pointer;
}
.red{
    color:red;
}
.red-b{
    border:2px solid red;
}
.red-b:hover{
    background-color: red;
}
.red-h:hover{
    color:red;
}
.blue{
    color: rgb(0, 128, 206);
}
.blue-b{
    border: 2px solid rgb(0, 128, 206);
}

.blue-b:hover{
    background-color: rgb(0, 128, 206);
}

.cursor{
    cursor:pointer;
}
.grey{
    color:grey;
}
.lightgrey{
    color:rgba(179, 181, 183, .91);
}
.lightgrey:hover{
}

.grey:hover{
    color:rgba(24, 33, 43, 1);
}
.grey-h{
    background-color:rgba(179, 181, 183 ,.1) !important;
    transition: .5s;
}
.grey-h:hover{
    background-color:rgba(179, 181, 183 ,.3) !important;
    color: rgba(24, 33, 43, .81) !important;
}

@keyframes fade-in {
    from{opacity:0; margin-top:-50px;}
    to{opacity:1}
}
.comments{
    animation-name:fade-in;
    animation-duration:.5s;
}
.btn-mine{
    border:1px solid grey;
}
.btn-mine:hover{
    background-color: grey;
}
.bg-grey{
    background-color:rgba(231, 234, 237, .21);
}

/*textarea:focus,*/
/* textarea.form-control:focus{*/
/*     box-shadow:none;*/
/* }*/

.test{
    box-shadow:none;
}

.focus-bottom{
    border:none !important;
    border-bottom: 2px solid lightgrey !important;
    transition: .3s;
}
.focus-bottom:focus{
    /*border:none;*/
    border-bottom:2px solid #14435c !important;
    opacity: .8;
}

.nav-item{
    border-bottom:2px solid transparent;
    transition: .4s;
}
.nav-item:hover{
    border-bottom:2px solid rgba(20, 67, 92 , .4);
    border-radius:3px;
}
.nav-link:hover{
    opacity:.7;
}

.text-sm{
    font-size:.8em;
}

.mycolor{
    color: rgba(55, 46, 42, .71);
}
.mycolor-h:hover{
    background-color: lightgoldenrodyellow;;
}
.list-item{
    padding:4px;
}
.pointer{
    cursor:pointer !important;
}
.text-lg{
    font-size:1.2em;
}
.bg-mine{
    background-color: rgba(144, 145, 145, 1);
}
.th-color{
    transition: .2s;
}
.th-color:hover
{
    text-shadow: 0px 0px 1px #14436c
}
.th-color-s{
    text-shadow: 0px 0px 1px #14436c
}
.this-color{
    color:#14435c;
}

.myfont{
    font-family: "Comic Sans MS";
}
.new-category{
    color:red;
    border:1px solid red;
}



.circle{
    border:2px solid lightgrey;
    width:20px;
    height:20px;
    border-radius:50%;
}
.rect{
    border:2px solid lightgrey;
    width:20px;
    height:20px;
    border-radius:2px;
}

.rounded-50 {
    border-radius:50px;
}

.bg-lightgrey {
    background-color: rgba(0,0,0,.4);
}
.bg-lightgrey:hover {
    background-color: rgba(0,0,0,.6) !important;
}

.c-border-left{
    border-left: 1px solid transparent;
}

.c-border-left:hover {
   border-left: 1px dotted lightgrey;
}

.page-item .page-link{
    border: 1px solid lightgrey !important;
    color: grey !important;
}

.page-link:hover {
    border-color: grey !important;
}

.page-item.active .page-link {
    border: 1px solid black !important;
    background-color: white;
    color:black !important;
}
