.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 12px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: -4px;
    background-color: white;
    border:1px solid lightgrey;
    -webkit-transition: .4s;
    transition: .4s;
  }


  input:checked + .slider {
    background-color: #4abb5d;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #25a53b;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


  .ns-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .ns-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark, .chbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgba(255,255,255,.8);
    border-radius:50%;
    border:2px solid lightgrey;
  }

  .chbox-checkmark {
    border-radius:5px;
  }

  /* On mouse-over, add a grey background color */
  .ns-container:hover input ~ .checkmark {
    background-color: lightgrey;
  }

  .ns-container:hover input ~ .chbox-checkmark {
    background-color: lightgrey;
  }

  /* When the radio button is checked, add a blue background */
  .ns-container input:checked ~ .checkmark {
    transition: all .21s ease-in;
    /* background-color: rgba(0, 191, 255, 1); */
    background-color: white;
    border: 2px solid rgba(0, 191, 255, 1);
  }

  .ns-container input:checked ~ .chbox-checkmark {
    transition: all .21s ease-in;
    /* background-color: rgba(0, 191, 255, 1); */
    background-color: white;
    border: 2px solid rgba(0, 191, 255, 1);
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .chbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .ns-container input:checked ~ .checkmark:after {
    display: block;
  }

  .ns-container input:checked ~ .chbox-checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .ns-container .checkmark:after {
     top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(0, 191, 255, 1);
  }

  .ns-container .chbox-checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid rgba(0, 191, 255, 1);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
 }



.ns-input-container {
    position: relative;
}

.ns-textarea {
    width: 100%;
    border: 0;
    outline: 0;
}
.ns-underline {
    background: rgba(0,0,0,0.12);
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.ns-underline.active {
    background: #673ab7;
    height: 2px;
    animation-name: _underline;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes _underline {
    0%   {width:0}
    100% {width:96%}
}

.ns-color {
    color: #673ab7;
}

.ns-font-family{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 24px;
    color: #202124;
    font-weight: 400;
    width: 100%;
    word-break: break-word;
}

.ns-font-normal {
    font-size: 12px;
}
